.DS_Store
*.log
target
/source_codes.zip
/风控系统.rar
/风控系统/抵押物管理.xls
/风控系统/新建文件夹/风险排查报告-宝盈238-交易对手-嘉兴蓝光.xls
/风控系统/新建文件夹/风险排查报告-宝盈238-担保人-四川蓝光和骏置业有限公司.xls
/风控系统/新建文件夹/风险排查报告-富诚39-交易对手-郑州二七非税.xls
/风控系统/新建文件夹/风险排查报告-富诚39-担保人-二七区建设投资公司.xls
/风控系统/新建文件夹/风险排查报告-富诚39-担保人-二七环卫清洁服务总公司.xls
/风控系统/新建文件夹/风险排查报告-富诚75-交易对手-新郑市非税局.xls
/风控系统/新建文件夹/风险排查报告-富诚85-交易对手-常州市晋陵投资建设有限公司.xls
/风控系统/新建文件夹/风险排查报告-富诚85-担保人-常州市城市建设（集团）有限公司.xls
/风控系统/新建文件夹/风险排查报告-富诚85-担保人-常州排水公司.xls
/风控系统/新建文件夹/风险排查报告富诚129-交易对手-铜仁非凡置业.xls
/风控系统/需求分析.doc
/风控系统/风险管理系统表样汇总-风险排查和抵押物.xls
/风控系统/风险管理系统需求——风险排查和抵押物（系统界面）.doc
