<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
-->

<hibernate-configuration>
    <session-factory>
        <mapping class="org.appfuse.model.User"/>
        <mapping class="org.appfuse.model.Role"/>
        <mapping class="com.brxt.model.ProjectInfo"/>
        <mapping class="com.brxt.model.ProjectInfoStatus"/>
        <mapping class="com.brxt.model.ProjectSize"/>
        <mapping class="com.brxt.model.Counterparty"/>
        <mapping class="com.brxt.model.SubjectCapacity"/>
        <mapping class="com.brxt.model.CreditInformation"/>
        <mapping class="com.brxt.model.Repayment"/>
        <mapping class="com.brxt.model.projectprogress.InvestmentProject"/>
        <mapping class="com.brxt.model.projectprogress.RepaymentProject"/>
        <mapping class="com.brxt.model.projectprogress.SupplyLiquidProject"/>
        <mapping class="com.brxt.model.finance.CorporateBalanceSheet"/>
        <mapping class="com.brxt.model.finance.BudgetStatement"/>
        <mapping class="com.brxt.model.finance.InstituteBalanceSheet"/>
        <mapping class="com.brxt.model.finance.ProfitStatement"/>
        <mapping class="com.brxt.model.collateral.Collateral"/>
        <mapping class="com.brxt.model.collateral.CollateralOverview"/>
        <mapping class="com.brxt.model.collateral.Land"/>
        <mapping class="com.brxt.model.collateral.ConstructingProject"/>
        <mapping class="com.brxt.model.collateral.Property"/>
        <mapping class="com.brxt.model.report.RiskControlReport"/>
        <mapping class="com.brxt.model.report.ReportStatus"/>
        <mapping class="com.brxt.model.report.FinanceCheckComment"/>
    </session-factory>
</hibernate-configuration>

